<banner></banner>
<div class="mainContainer">
    <router-outlet></router-outlet>
</div>
<div class="footer">
    This app has a <a routerLink="/guarded-page" routerLinkActive="active">Guarded Page</a> that you can only see if you are logged in. If you try to go to it when you are not logged in, nothing will happen.
</div>
<br />
<div class="footer">
    Learn more with our <a href="https://docs.passage.id">Documentation</a> and <a
        href="https://github.com/passageidentity">Github</a>.
</div>